@import url(./vendor/normalize.css);
@import url(./vendor/Inter\ Web/inter.css);

/*page*/

.page {
    margin: 0 auto;
    min-width: 1280px;
    background-color: #2A2C2F;
}
.header {
    padding: 28px 48px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
.header__logo {
    width: 176px;
    height: 52px;
}

.header__lang-link {
    width: 30px;
    height: 28px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: right;
    text-decoration-line: none;
    color: #FFFFFF;
}

.header__lang-link:first-child {
    margin-right: 18px;
}

/*Lead*/
.lead {
    padding-top: 56px;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.lead__title {
    margin: 0;
    padding: 0 0 32px;
    height: 200px;
    width: 720px;
    font-family: Inter;
    font-size: 96px;
    font-weight: 900;
    line-height: 100px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
}

.lead__subtitle {
    padding-bottom: 64px;
    margin: 0;
    width: 640px;
    height: 72px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}

.lead__image {
    width: 100%;
}

.lead__caption {
    margin: 0;
    padding-top: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #FFFFFF;
    align-self: flex-start;
}

/* intro */

.intro {
    padding-top: 92px;
    width: 75%;
    /* height: 429px; */
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.intro__title {
    width: 690px;
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    color: #FFFFFF;
}

.intro__text {
    width: 690px;
    margin: 0;
    padding: 40px 0 33px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    color: #FFFFFF;
}

.intro__list {
    width: 690px;
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    list-style: none;
}

/* gellery */

.photo-grid {
    margin: 0 auto;
    padding-top: 92px;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
}

.photo-grid__item {
    min-width: 284px;
    height: 213px;
}