.footer {
    /* font-family: 'Inter', Arial, sans-serif; */
    margin: 0 auto;
    padding-top: 92px;
    padding-bottom: 24px;
    max-width: 1184px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

@media screen and (max-width: 1279px) {
    .footer {
        padding: 92px 48px 24px;
    }
}

@media screen and (max-width: 1023px) {
    .footer {
        padding: 88px 24px 24px;
    }
}

@media screen and (max-width: 740px) {
    .footer {
        margin: 0;
        padding: 64px 16px 24px;
        flex-direction: column;
        gap: 32px;
        align-items: flex-start;
    }
}